<template lang="html">
  <div class="gates">
    <Sprite
      class="gates__gate gates__gate_one"
      :class="isBlured"
      viewBox="0 0 500.00001 500.00001"
      base-id="gate-one"
      />
    <Sprite
      class="gates__gate gates__gate_two"
      :class="isBlured"
      viewBox="0 0 499.99998 499.99998"
      base-id="gate-two"
      />
    <Sprite
      class="gates__gate gates__gate_three"
      :class="isBlured"
      viewBox="0 0 500.00001 500.00001"
      base-id="gate-three"
      />
  </div>

</template>

<script>
import Sprite from "../svg/Sprite.vue";

export default {
  props: ['blured'],
  computed: {
    isBlured () {
      return this.blured
      ? "blured"
      : ""
    }
  },
  components: {
    Sprite
  }
}
</script>

<style lang="sass" scoped>
  .blured
    filter: blur(20px)

  @keyframes rotation
    0%
      transform: rotate(0deg)
    100%
      transform: rotate(360deg)
  @keyframes rotation-part
    0%
      transform: rotate(0deg)
    50%
      transform: rotate(20deg)
    100%
      transform: rotate(0deg)
  @keyframes rotation-back
    0%
      transform: rotate(0deg)
    100%
      transform: rotate(-360deg)
  .gates
    position: fixed
    bottom: 1%
    left: 10%
    width: 600px
    height: 600px
    z-index: 10
    &__gate
      position: absolute
      &_one
        width: 50%
        height: 50%
        top: 64.7%
        left: 2.7%
        transform-origin: -25% -15%
        // animation: rotation-back 10s infinite
      &_two
        width: 50%
        height: 50%
        top: 30.5%
        left: 0
        transform-origin: -25% -15%
        // animation: rotation-back 10s infinite
      &_three
        width: 50%
        height: 50%
        top: 30.3%
        left: 24.5%
        transform-origin: -25% -15%
        // animation: rotation-back 10s infinite


  // @keyframes path {
  //   0% {
  //    d: path('m349.45 8.0583c218.69 131.51 195.85 394.51 117.44 502.09-139.71 191.71-182.36 306.71-155.5 540.15-90.99-200.36-43.86-352.82 79.24-557.89 96.88-161.38 100.21-343.6-41.18-484.35z');
  //   }
  //   50% {
  //     d: path('m349.45 8.0583c-172.53 261.35 38.679 425.26 117.44 502.09 166.09 198.54 26.062 334.04-155.5 540.15 168.68-263.57 261.94-388.7 79.24-557.89-159.38-152.84-174.84-340.18-41.18-484.35z')
  //   }
  //   100% {
  //    d: path('m349.45 8.0583c218.69 131.51 195.85 394.51 117.44 502.09-139.71 191.71-182.36 306.71-155.5 540.15-90.99-200.36-43.86-352.82 79.24-557.89 96.88-161.38 100.21-343.6-41.18-484.35z');
  //   }
  // }
</style>
