<template lang="html">
  <div class="particles">
    <div v-for="index in particleCount" class="particle" :key="'particle' + index">
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    particleCount () {
      if(process.browser) {
        return window.innerWidth > 1000 ? 40 : 20
      }
      return 0
    }
  }
}
</script>

<style lang="sass">
.particles
  height: 100%
  width: 100%
  position: absolute
.particle
  position: absolute
  border-radius: 50%

@for $i from 1 through 100
  @keyframes particle-animation-#{$i}
    100%
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px))
  .particle:nth-child(#{$i})
    animation: particle-animation-#{$i} 60s infinite
    $size: random(3) + 1 + px
    opacity: random(100)/100 + .4
    filter: blur(random(1) + px)
    height: $size
    width: $size
    animation-delay: -$i * .2s
    transform: translate3d((random(90) * 1vw), (random(50) * 1vh), (random(100) * 1px))
    background: hsl(random(360), 70%, 80%)
</style>
