<template lang="html">
  <div class="road">
    <Sprite class="road__item" base-id="road-one" viewBox="0 0 220.46392 384.503" />
    <!-- <Sprite class="road__item" base-id="road-two" /> -->
    <!-- <Sprite class="road__item" base-id="road-three" /> -->
  </div>
</template>

<script>
import Sprite from "../svg/Sprite.vue";

export default {
  components: {
    Sprite
  }
}
</script>

<style lang="sass">
  .road
    width: 400px
    height: 400px
    &__item
      position: absolute
      width: 100%
      height: 100%
</style>
