<template>
  <main class="container">
    <img class="logo" src="~/assets/img/logo_simple_bright.png" alt="">
    <Gates />
    <!-- <Gates blured=true /> -->
    <Particles />
    <Road />
  </main>
</template>

<script>
import Gates from "~/components/interactive/Gates"
import Particles from "~/components/interactive/Particles"
import Road from "~/components/interactive/Road"

export default {
  components: {
    Gates,
    Particles,
    Road
  },
  data () {
    return {
    }
  },
  mounted () {

  }
}
</script>

<style lang="sass">
  @import "~/assets/css/base.sass"
  @import "~/assets/css/svg/gates.sass"
  @import "~/assets/css/svg/road.sass"
  .logo
    width: 200px
    position: absolute
    left: calc( 50% - 100px )
    top: 50px
  .container
    width: 100%
    height: 100vh
    background-color: $c-background
    background: linear-gradient(black, #01061f)

</style>
