$rpath-one: "m 121.47,11.762335 c 33.55,46.904 103.76,123.908305 -32.379,174.598305 -136.15,50.68 -118.63,171.01 74.689,197.58 -112.66,-30.9 -152.98,-97.79 -15.65,-162.15 137.34,-64.36 30.96,-163.448305 -26.66,-210.028305 z"
$rpath-two: "m49.329 0.17704c-61.54 96.304 16.23 125.54 44.323 153.85 59.248 73.16 6.858 154.25-57.899 230.2 60.168-97.12 62.115-141.94-3.053-204.28-56.85-56.32-31.046-126.65 16.629-179.77z"
$rpath-three: "m208.61 185.22c124.55 52.44 26.12 122.85-155.8 198.65 169.01-96.93 217.51-139.26 79.39-205.18s-27.2-164.48 17.84-177.85c-101.79 82.133-65.974 131.94 58.57 184.38z"

@keyframes move-road-one
  0%
    d: path("M 198.68439,24.562861 C 175.63933,2.4692196 83.056081,-21.9547 47.020218,57.59895 10.984355,137.1526 188.41592,235.12814 131.75424,384.22492 222.2534,228.80648 57.585611,126.13171 85.794631,62.261292 114.00365,-1.6091238 181.43349,11.613695 198.68439,24.562861 Z")
  // 15%
  //   d: path("m160.72 0.36064c33.55 46.904 41.59 126.32-94.549 177.01-136.15 50.68-56.46 180 136.86 206.57-112.66-30.86-212.16-115.02-74.83-179.38 137.34-64.36 90.14-157.62 32.52-204.2z")
  // 30%
  //   d: path("M 202.42855,0.22584839 C 200.67831,67.427486 156.65046,86.833077 78.756846,115.46043 c -136.15,50.68 -62.637542,240.89291 130.682464,267.46291 C 96.779302,352.06334 -24.783345,212.30546 112.54666,147.94546 206.35154,100.31431 232.00242,53.733871 202.42855,0.22584839 Z")
  // 45%
  //   d: path("M 202.42855,0.22584839 C 151.92634,1.8451936 88.758637,15.171124 63.244893,30.765834 -63.179547,103.13433 124.14124,279.43398 159.83541,384.22492 162.34691,266.87206 11.550453,177.74793 95.779046,79.109993 121.63097,50.011469 155.2244,22.846162 202.42855,0.22584839 Z")

  50%
    d: path($rpath-one)
  100%
    d: path("M 172.71283,0.36063658 C 84.101824,49.707858 220.27877,213.03928 84.139773,263.72928 34.910483,282.05422 -36.933447,357.37064 156.38555,383.94064 100.73402,355.48386 57.970803,341.5303 135.0347,305.67454 272.3747,241.31454 114.68707,51.012671 172.71283,0.36063658 Z")

@keyframes move-road-two
  0%
    d: path($rpath-two)
  50%
    d: path("m156.62 0.48593c102.57 1.06 219.2 93.98 138.14 153.66-81.07 59.68-239.28 94.89-180.45 229.9-102.37-99.98-71.803-142.5 33.93-212.25 105.72-69.74 71.77-142.97 8.38-171.31z")
  100%
    d: path($rpath-two)

@keyframes move-road-three
  0%
    d: path($rpath-three)
  50%
    d: path("m147.43 0.26712c20.46 82.225 28.41 131.94 17.92 194.06s-10.27 111.5 10.64 189.49c-33.45-74.85-45.77-105.31-30.66-185.31 15.11-79.99 12.15-129.76 2.1-198.24z")
  100%
    d: path($rpath-three)

#road-one-path
  fill: white
  d: path("")
  animation: move-road-one 4s infinite linear

#road-two-path
  fill: red
  d: path("")
  animation: move-road-two 4s infinite

#road-three-path
  fill: green
  d: path("")
  animation: move-road-three 4s infinite
